{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="span9">

        <h1>Καταχώρηση παραγγελίας από επιχείρηση</h1>  </div>

</div>
<div class="row">
    <div class="span9 listing">
       
    </div>
</div>

{% endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Business:sidebar_business.html.twig" %}
{%endblock %}

