<div class="row">
    <div class="span3">
        <h2 class="side">Επιλογές</h2>
    </div>
</div>
<div class="row ">
    <div class="span3 sidebar">
        <ul id="actions" class="extra-nav">
            <li><a href='{{path("agorasmena")}}'>Τα Αγορασμένα μου</a></li>
			<li><a href='{{path("anazhthsh")}}'>Σύνθετη Αναζήτηση</a></li>
			<li><a href='{{path("sumvoulos")}}'>Σύμβουλος Τιμών</a></li>
			<li><a href='{{path("givenvotes")}}'>Κριτικές που έχω δώσει</a></li>
        </ul>
    </div>
</div>

{% include "AcmeUserBundle:Default:sidebar.html.twig" %}
