{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block title %}
Καταναλωτής
{% endblock %}


{% block content %}
<div class="row">
    <div class="span9">
        <h1>Καταναλωτής</h1>
    </div>
</div>




<div class="row">
    <div class="span9 listing">
        <p>
        Ο διαδικτυακός μας τόπος παρέχει τη δυνατότητα στους καταναλωτές να προμηθεύονται φτηνά, Ελληνικά προϊόντα απευθείας από τους αγρότες.
        </p>
        <dl><dt>
            Κάθε καταναλωτής μπορεί:
            </dt>
            <dd>
            <ul>
                <li>Να αναζητά αγορές με βάση την κατηγορία τους</li>
                <li>Να αναζητά αγορές με βάση την περιοχή που τον εξυπηρετεί</li>
                <li>Να διαλέγει το προϊον από τον αγρότη που επιθυμεί</li>
				<li>Να κάνει την παραγγελία από την ιστοσελίδα </li>
                <li>Να προμηθευτεί το προϊόν από την αγορά</li>
                <li>Και τέλος να ψηφίζει τον αγρότη για τα προϊόντα του</li>
            </ul>
            </dd>
        </dl>
    </div>
</div>


{% endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:User:sidebar_user.html.twig" %}
{%endblock %}
