{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block title %}
Τιμοκατάλογος
{% endblock %}


{% block content %}
<div class="row">
    <div class="span9">
        <h1> Τιμοκατάλογος</h1>
    </div>
</div>


<div class="row ">
    <div class="span9">
        <div class="row">
            <div class="span3">
                <div class="offer listing">
                <h2>Καλάθι</h2>
                <img src="{{asset('img/small.png')}}">
                <h3>1 Συνάντηση</h3>
                <span class="price">5 €</span>
                </div>
            </div>
            <div class="span3">
                <div class="offer listing">
                <h2>Λαχανόκηπος</h2>
                <img src="{{asset('img/medium.png')}}">
                <h3>5 Συνάντησεις</h3>
                <span class="price">20 €</span>
                </div>
            </div>
            <div class="span3">
                <div class="offer listing">
                <h2>Χωράφι</h2>
                <img src="{{asset('img/large.png')}}">
                <h3>20 Συνάντησεις</h3>
                <span class="price">60 €</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span9">
        <h1> Συχνές Ερωτήσεις </h1>
    </div>
</div>
<div class="row">
    <div class="span9 listing">
        <dl class="faq">
			<dt>Ποιός χρεώνεται;</dt>
            <dd>Η πλατφόρμα παρέχεται εντελώς δωρεάν σε όλους τους καταναλωτές.</dd>
			<dd>Οι αγρότες χρεώνονται με ένα συμβολικό ποσό ανά συμμετοχή.</dd>
			
            <dt>Τι χρειάζεται για να συμμετάσχω;</dt>
            <dd>Αν είσαι αγρότης για να εξασφαλίσεις τη συμμετοχή σου σε αγορά αρκεί να ακολουθήσεις τα 3 εξής βήματα:</dd>
			<dd>1. Επιλογή πακέτου συμμετοχής (πρεβάζι, λαχανόκηπος, χωράφι) ανάλογα με τις ανάγκες σας.</dd>
			<dd>2. Πληρωμή με πιστωτική ή χρεωστική ή κατάθεση σε τράπεζα</dd>
			<dd>3. Συμμετοχή στις αγορές!</dd>

            <dt>Άμα αλλάξω γνώμη;</dt>
            <dd>Αν αλλάξετε γνώμη για το πακέτο που αγοράσατε για οποιοδήποτε λόγο, επικοινωνείτε με το τμήμα εξυπηρέτησης πελατών μας και αποδεσμεύεστε από το πακέτο πληρώνοντας
			μόνο τις συνατήσεις που έχετε ήδη συμμετάσχει.</dd>
            
            <dt>Πόσο κοστίζει;</dt>
            <dd>Το κόστος της συμμετοχής σε αγορά διαφέρει ανάλογα από το πακέτο που θα διαλέξει ο αγρότης.</dd>
			<dd>Με το πακέτο "Περβάζι" ο αγρότης συμμετέχει σε μία συνάντηση με κόστος 5 €.</dd>
			<dd>Με το πακέτο "Λαχανόκηπος" ο αγρότης συυμετέχει σε 5 συναντήσεις με κόστος 20 € κερδίζοντας 20% έκπτωση.</dd>
			<dd>Με το πακέτο "Χωράφι" ο αγρότης συυμετέχει σε 20 συναντήσεις με κόστος 60 € κερδίζοντας 40% έκπτωση.</dd>
			
			 <dt>Ποιοί είναι οι τρόποι πληρωμής;</dt>
            <dd>Κατάθεση σε τραπεζικό λογαριασμό: Εξοφλείτε την οφειλή σας στους λογαριασμούς της e-agrotis.gr.</dd>
			<dd>Πιστωτική κάρτα: Αν διαθέτετε πιστωτική κάρτα μπορείτε να τη χρησιμοποιήσετε με ασφάλεια.  </dd>
			
			
            <dt>Είναι ασφαλείς οι συναλλαγές μου μέσω πιστωτικής κάρτας;</dt>
            <dd>Η διαδικασία εξόφλησης μέσω πιστωτικών καρτών καλύπτεται από τις πιο σύγχρονες προδιαγραφές ασφάλειας στον secure server του e-agrotis.gr.
			Κατά την πρώτη φορά χρήσης της πιστωτικής σας κάρτας θα σας ζητηθούν συμπληρωματικά στοιχεία διασφάλισης της ταυτότητας του ιδιοκτήτη της κάρτας. 
			Ζητούμε την κατανόησή σας για την πρόσθετη αυτή επιβάρυνση που αποκλειστικό σκοπό έχει την αποφυγή χρήσης κλεμμένων πιστωτικών καρτών και
			την προστασία έτσι των πραγματικών ιδιοκτητών τους. Τα στοιχεία αυτά ζητούνται μόνο κατά την πρώτη χρήση της κάρτας, 
			παραμένουν απολύτως εμπιστευτικά και δεν παραχωρούνται σε οποιονδήποτε τρίτο.</dd>
			
			 <dt>Εως πότε ισχύουν οι συμμετοχές μου;</dt>
			<dd>Οι συμμετοχές ισχύουν μέχρι να τελειώσει το πακέτο που έχετε διαλέξει.</dd>
        </dl>
    </div>
</div>


{% endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Agrotis:sidebar_agrotis.html.twig" %}
{%endblock %}
