{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block content %}
<div class="row">
    <div class="span9">
         
         <h1> Προσθήκη προσφορών</h1>  </div>
</div>
<div class="row ">
<div class="span9 listing">
	<div class="row">
            <div class="span7">
                <div class="details">

Το προϊόν σας καταχωρήθηκε, θα ενημερωθείτε αν γίνει δεκτό.
<br><br>
</div></div></div></div></div>
{%endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Agrotis:sidebar_agrotis.html.twig" %}
{%endblock %}
