{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block title %}
Διοργανωτής
{% endblock %}


{% block content %}
<div class="row">
    <div class="span9">
        <h1>Διοργανωτής</h1>
    </div>
</div>




<div class="row">
    <div class="span9 listing">
        <p>
        Ο διαδικτυακός μας τόπος παρέχει τη δυνατότητα σε δήμους, οργανισμούς, μη κερδοσκοπικές οργανώσεις κτλ να οργανώνουν συναντήσεις σε δικές τους τοποθεσίες
		βοηθώντας τους καταναλωτές να προμηθεύονται τα προϊόντα πολύ φτηνότερα απευθείας από τους αγρότες.
        </p>
        <dl><dt>
            Για να οργανώσετε μια συνάντηση αρκεί:
            </dt>
            <dd>
            <ul>
                <li>Να συμπληρώσετε φόρμα ενδιαφέροντος</li>
                <li>Να διαλέξετε αγρότες ανάμεσα από τις προσφορές</li>
                <li>Να δείτε την συνάντησή σας να πραγματοποιείται</li>
            </ul>
            </dd>
        </dl>

    </div>
</div>


{% endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Organiser:sidebar_organiser.html.twig" %}
{%endblock %}
