<div class="row">
    <div class="span3">
        <h2 class="side">Οι συναντήσεις μου</h2>
    </div>
</div>
<div class="row ">
    <div class="span3 sidebar">
        <ul id="actions" class="extra-nav">
            <li><a href='{{path("locations_new")}}'>Προσθήκη Συνάντησης</a></li>
			 <li><a href='{{path("location_approval") }}'>Διαχείριση Συναντήσεων</a></li>
			 <li><a href='{{path("approval")}}'>Διαχείριση Προσφορών</a></li>
        </ul>
    </div>
</div>
{% include "AcmeUserBundle:Default:sidebar.html.twig" %}
