html{
    min-height:100%;
}

body{
    min-height:100%;
    background-image:url("../img/background-bottom.png");
    background-repeat:repeat-x;
    padding-bottom:200px;
    background-position:right bottom;
    padding-top:20px;
    font-size:100%;
}

h1 , h2.side{
    font-size:1.5em;
    background-color:#506100;
    color:white;
    padding: 10px 30px;
    float:left;
    margin-bottom:20px;
    border-radius:5px;
}

h2.side{
    float: none;
    text-align: center;
    font-size: 1.2em;
    padding: 5px 15px;
    background-color: 
    #6F8D8D;
    margin-bottom: 5px;
}

.newsletter{

    padding-top: 10px;
    padding-left: 10px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;

}

.newsletter input {
    margin-left:auto;
    margin-right:auto;
    width:80%;
}

.loginbox {
    margin:0px;
    list-style:none;
}

.loginbox li{
    /*background-color: #506100;*/
    /*color:white;*/
    margin-bottom: 5px;
    margin-top:5px;
    border-radius: 5px;
}
.loginbox a {
    /*color:white;*/
    font-weight:bold;
}

.listing p {

    font-size:1em;
    line-height:1.5em;
    margin-left:20px;
    margin-right:20px;
}
.listing dl {
    margin-left:20px;
    margin-right:20px;
}

.listing {

    padding-top:20px;
    padding-bottom:20px;
}

.listing,.sidebar, .newsletter, .phone>div {
    clear:left;
    background-color:white;
    border-radius:3px;
    margin-bottom:30px;
    -moz-box-shadow: 0px 15px 15px -10px #b0bdc0;
    -webkit-box-shadow: 0px 15px 15px -10px #b0bdc0;
    box-shadow: 0px 15px 15px -10px #b0bdc0;
    border:1px solid #c6d0d2;
}

.listing .title h2{
    padding-left:20px;
}
.listing .title h2 span{
    font-size:0.7em;
    color: #9C755E;
}
.listing .title h3{
    padding-right: 20px;
    text-align:right;
}

#news_admin_title {
    font-size:1.5em;
    padding:10px;
    width:100%;
    margin-left:-10px;

}

#html5textarea{
    width:100%;
    height:500px;
    font-size:1em;
    padding:10px;
    margin-left:-10px;
}


.offer {
    text-align:center;
    padding-top:20px;
    padding-bottom:30px;
}

.offer h2 {
    margin-bottom:20px;

}
.offer img {
    width:80%;
}

dl.faq {
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    font-family: "Comfortaa", sans-serif;
}
dt {
    font-size:1.3em;
    line-height:2.0em;
    margin-top:20px;

}

dd {
    line-height:1.5em;
    font-family:Georgia;
    font-size:1em;
}

.price {
    font-size:3.5em;
    font-weight:bold;
    height:50px;
    vertical-align:middle;
    margin-top:20px;
    display:block;
}

.offer h3 {
    margin-top:20px;
}

.buttons{
    text-align:right;
    margin-top:20px;
    margin-bottom:30px;
}
.buttons a {
    margin-right:20px;
}
.sidebar {
    background-color:white;
    border-radius:3px;
    margin-bottom:20px;
}
.logo {
    background-color:white;
    border-radius:3px;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:10px;
    -moz-box-shadow: 0px 10px 15px -10px #b0bdc0;
    -webkit-box-shadow: 0px 10px 15px -10px #b0bdc0;
    box-shadow: 0px 10px 15px -10px #b0bdc0;
}
.logo img {
    width:50%;
}
/*.phone {*/
/*background-color:white;*/
/*border-radius:5px;*/
/*text-align:center;*/
/*}*/
.phone div {
    padding:10px;
}

.social-icons{
    text-align:center;
    margin-bottom:30px;
}
.top {
    /*margin-bottom:20px;*/
}

.nav{
    float:left;
}
.nav li {
    margin-bottom:10px;
    float: left;
    margin-left: 20px;
    font-size: 1em;
    padding: 9px;
    background-color: white;
    border-radius: 5px;
    font-family: "Comfortaa", sans-serif;
    -moz-box-shadow: 0px 10px 15px -10px #b0bdc0;
    -webkit-box-shadow: 0px 10px 15px -10px #b0bdc0;
    box-shadow: 0px 10px 15px -10px #b0bdc0;
}

.nav li:hover {

    -moz-box-shadow: 0px 15px 15px -10px #b0bdc0;
    -webkit-box-shadow: 0px 15px 15px -10px #b0bdc0;
    box-shadow: 0px 15px 15px -10px #b0bdc0;

}


.extra-nav {
    list-style:none;
    margin-top:20px;
    margin-bottom:20px;
    padding-right:20px;
}
.extra-nav li {
    margin-top:5px;
    font-size:0.9em;
}
.extra-nav a {
    font-family: "Comfortaa", sans-serif;
}

.newsbody {
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    margin-bottom:20px;
}

.imgmap {
    margin-right:20px;
    margin-left:20px;
}

.details {
    margin-top:20px;
    margin-right:20px;
    margin-bottom:20px;

}
.details.photo {
    overflow:hidden;
    max-height:150px;
    margin-left:20px;
}

span.quantities {
    font-size:0.6em;
}
div.quantities {
    text-align:center;
    float:left;
    width:50%;
    font-size:2em;
    line-height:1.5em;
    min-width:80px;
}

input.squarequantity {
    font-size:1.5em;
    height:50px;
    width: 100%;
    padding: 0px;
    text-align: center;
}

.imgmap .map {
    border:solid 1px #ddd;
    height:202px;
    width:100%;
}
.imgmap .map img{
    max-width:none;
}
.details img.product{
    /*    float:left;*/
    border:solid 1px #ddd;
    width:100%;
    /*    height:152px;*/
    margin-right:20px;
    margin-bottom:20px;
    margin-top:-25%;
}

.details p {
    float:left;

    margin-left:40px;
    margin-top:10px;
    margin-right:20px;

}
div.groupinfo{
    float:left;
}

dl.extrainfo {
    display:block;
    float:left;
    margin-left:0px;
}

dl.extrainfo dt {
    font-family:"Comfortaa", sans-serif;
    font-weight:normal;
    line-height:1.5em;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    font-weight:normal;
    text-decoration:underline;
}

dl.extrainfo dd {
    font-weight:bold;
    margin-bottom:10px;
    line-height:1.5em;
}

dl.info {
    width:30%;
    font-size:1.0em;
    line-height:1.5em;
    float:left;
    margin-right:40px;
}

dl.info dt {
    font-family:"Comfortaa", sans-serif;
    font-weight:normal;
    line-height:1.5em;
    border-radius:10px;
    font-weight:normal;
    text-decoration:underline;

}

dl.info dd {
    font-weight:bold;
    margin-bottom:10px;
    line-height:1.5em;
}


.admin {
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;
    width:90%;
}
.admin td{
    padding:5px;
    text-align:center;
}


.admin img {
    width:60px;
}

.new {
    margin-left:20px;
    margin-bottom:40px;

}

.edit-icon {
    background-image:url("../img/icons/edit-icon.png");
    width:12px;
    height:12px;
    display:block;
    float:left;
    margin-right:5px;
    margin-left:10px;
    background-repeat:no-repeat;
}
.delete-icon {
    background-image:url("../img/icons/delete-icon.png");
    width:12px;
    height:12px;
    display:block;
    float:left;
    margin-right:10px;
    margin-left:5px;
    background-repeat:no-repeat;
}

.new-icon {
    width:12px;
    height:12px;
    display:block;
    float:left;
    margin-right:8px;
    margin-left:0px;
    margin-top:4px;
    background-repeat:no-repeat;
    background-image:url("../img/icons/plus-icon.png");
}

.actions {
    width:70px;
}

.spacing {
    margin:20px;
}

#showremainingvotes{
    margin-left:20px;
    margin-right:20px;
}

.showvotebox{

    display:block;
    margin:20px;

}
.remaining {
    display:none;
}

.remainingvote{
    padding-left:20px;
    background-repeat:no-repeat;
    background-position: 20px 18px;
}
.vote-comment  {
    padding:0px 20px;
}
.vote-comment textarea{
    margin:15px 0px;
    width:100%;
}
.votes{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
width: 130px
}
.vote {
    background-image:url("../img/tomato.png");
    width:26px;
    height:26px;
    float:left;
    background-repeat:no-repeat;
}
.novote {
    background-image:url("../img/tomato.png");
    background-position:-30px 0px;
    width:26px;
    height:26px;
    float:left;
    background-repeat:no-repeat;
}
.vote-select{
    padding:0px 20px;
    padding-top:15px;
}
.vote-score{
    padding-left:20px;
    text-align:center;
}
.vote-submit {
}
.vote-submit a.btn{
    display:block;
    margin:15px 20px;
}


.votebox{
    text-align:center;
    display:none;
}


/* media queries */
@media (max-width: 767px){

.remainingvote{
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    padding-bottom:15px;
    background-image:none;

}
    .details {
        margin-top:20px;
        margin-left:20px;
        margin-right:20px;
        margin-bottom:20px;

    }
    .details.photo {
        overflow:hidden;
        max-height:150px;
    }


    #html5textarea { 
        padding-left:0px;
        padding-right:0px;
        margin-left:0px;
    }

    #news_admin_title{
        padding-left:0px;
        padding-right:0px;
        margin-left:0px;


    }
    .html5textarea { 
        padding-left:10px;
        padding-right:10px;
    }
    .news_admin_title{
        padding-left:10px;
        padding-right:10px;


    }



}




/* end media queries */

/*overrides of bootstrap */



h1,h2,h3,h4,h5,h6 {
    line-height:1.5em;
}

.btn {
    font-size:1em;
}

.btn-large {
    margin-bottom:10px;
    font-size:1em;
    background-color: hsl(77, 58%, 35%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7c9d29", endColorstr="#6f8d25");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#7c9d29), to(#6f8d25));
    background-image: -moz-linear-gradient(top, #7c9d29, #6f8d25);
    background-image: -ms-linear-gradient(top, #7c9d29, #6f8d25);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c9d29), color-stop(100%, #6f8d25));
    background-image: -webkit-linear-gradient(top, #7c9d29, #6f8d25);
    background-image: -o-linear-gradient(top, #7c9d29, #6f8d25);
    background-image: linear-gradient(#7c9d29, #6f8d25);
    border-color: #6f8d25 #6f8d25 hsl(77, 58%, 34%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
    -webkit-font-smoothing: antialiased;
}

.nav>li>a:hover {
    background-color:transparent;
}

.modal {
    display:none;
}
label {

    font-size:1em;
}
input, textarea, select, .uneditable-input{
    font-size:1em;
}
