{% extends 'AcmeUserBundle:Default:base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
<div class="row">
    <div class="span9 listing">
        <div class="spacing">
            {% block fos_user_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Default:sidebar.html.twig" %}
{%endblock %}
