{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block title %}
About
{% endblock %}


{% block content %}
<div class="row">
    <div class="span9">
        <h1> Λίγα λόγια για μας</h1>
    </div>
</div>




<div class="row">
    <div class="span9 listing">
        <dl class="faq">
			<dt>Ποιοι είμαστε;</dt>
            <dd>Το <b>e-agrotis.gr </b>φερνει σε επαφή τους αγρότες και τους καταναλωτές  οργανώνοντας συνταντήσεις με την βοήθεια των δήμων και όχι μόνο, καταργώντας έτσι τελείως τους μεσάζοντες.
			<dd>Μέσα από επιλεγμένες δράσεις, ενώνουμε τις δυνάμεις μας, για να υπερασπιστούμε το περιβάλλον, την ποιότητα του βιοτικού μας επιπέδου, την ποιότητα των υπηρεσιών που μας παρέχονται 
			από το κράτος ή οποιοδήποτε άλλο φορέα, επηρεάζουν όμως την ποιότητα της ζωής μας και την αξιοπρέπειά μας.</dd>
            <dd>Επίσης, ενώνουμε τις δυνάμεις μας και προσπαθούμε, με κάθε πρόσφορο μέσο, να πληροφορήσουμε, να ευαισθητοποιήσουμε και να συσπειρώσουμε 
			τους πολίτες απέναντι σε φαινόμενα καταπάτησης των δικαιωμάτων τους.</dd>

        </dl>
    </div>
</div>


{% endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Default:sidebar.html.twig" %}
{%endblock %}
