{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block content %}
<div class="row">
    <div class="span9">
         
         <h1> Καταχώρηση συνάντησης</h1>  </div>
</div>
<div class="row ">
<div class="span9 listing">
	<div class="row">
            <div class="span7">
                <div class="details">

Η συνάντηση που ζητήσατε θα ελεγχθεί και θα ενημερωθείτε για το αποτέλεσμα
<br><br>
</div></div></div></div></div>
{%endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Default:sidebar.html.twig" %}
{%endblock %}