{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block title %}
Αγρότης
{% endblock %}


{% block content %}
<div class="row">
    <div class="span9">
        <h1>Αγρότης</h1>
    </div>
</div>




<div class="row">
    <div class="span9 listing">
        <p>
        Ο διαδικτυακός μας τόπος παρέχει τη δυνατότητα στους αγρότες να πουλάνε τα προϊόντα τους στο κόσμο χωρίς τους μεσάζοντες.
        </p>
        <dl><dt>
            Κάθε αγρότης μπορεί:
            </dt>
            <dd>
            <ul>
                <li>Να πουλάει σε αγορές που διοργανώνονται κυρίως από δήμους</li>
                <li> - Να δίνει προσφορές και να πουλάει σε επιχειρήσεις που ζητάνε αγροτικά προϊόντα</li>
                <li> - Να ελέγχει και να επεξεργάζεται αυτά που πουλάει</li>
            </ul>
            </dd>
        </dl>
        <p>Διαλέξτε το πακέτο που σας ταιριάζει και συμμετέχετε σήμερα κιολας σε μια αγορά!</p>
    </div>
</div>


{% endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Default:sidebar_agrotis.html.twig" %}
{%endblock %}
