{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block content %}
<div class="row">
    <div class="twelve columns">
        <img style="position:relative;top:10px;" src="{{ asset('images/backgroundarticle.png') }}">
    </div>
</div>
<div class="row article"><div class="six columns offset-by-one">
{%for key in kod%}
<h6>Η αγορά σας πραγματοποιήθηκε επιτυχώς</h6>
<h6>Ο κωδικός αγοράς σας είναι: 000000{{key}}</h6>
{%endfor%}

</form>
</div>
</div>
{% endblock%}

{% block sidebar %}
<div class="three colums nava">
	<div class="art-vmenublock">
									<div class="art-vmenublock-body">
										<div class="art-vmenublockcontent">
											<div class="art-vmenublockcontent-body">
												<ul class="art-vmenu">
												
													<li><a href="pazari" class="active"><span class="l"> </span><span class="r"> </span><span class="t">Αρχική</span></a></li>
													<li><a href="profile"><span class="l"> </span><span class="r"> </span><span class="t">Προφίλ</span></a></li>
													<li><a href="price"><span class="l"> </span><span class="r"> </span><span class="t">Τιμοκατάλογος</span></a></li>
													<li><a href="logout"><span class="l"> </span><span class="r"> </span><span class="t">Αποσύνδεση</span></a></li>
											
												</ul>
												<div class="cleared"></div>
											</div>
										</div>
										<div class="cleared"></div>
									</div>
									</div>
								</div>{%endblock %}
