<div class="row ">
    <div class="span9 listing">
        <div class="row">
            <div class="span3">
                <div class="details photo">
                    <img src="{{asset("img/empty.png")}}">
                </div>
            </div>
            <div class="span6">
                <div class="details">
                    <h2>Λυπούμαστε αλλά δεν υπάρχει διαθέσιμο περιεχόμενο σε αυτή την ενότητα</h2>
                    <h3>Παρακαλώ κάντε διαφορετική επιλογή</h3>
                </div>
            </div>
        </div>
    </div>
</div>
