{% extends 'AcmeUserBundle:Default:base.html.twig' %}

{% block title %}e-agrotis{% endblock %}

 <div class="container">
                        <div class="row">
                            <div class="nine columns">
                        
    {% block content %} {% endblock %}
                            </div>
                            <div class="three columns sidebar">
    {% block sidebar %} {%endblock %}
                            </div>
                        </div>
                    </div>