{% extends "AcmeUserBundle:Default:base.html.twig" %}

{% block title %} Τι έχω πουλήσει {% endblock %}
{% block content %}
<h1> Τι έχω πουλήσει</h1>
<div class="row">
    <div class="span9 listing">

 <div class="span7">
                <div class="details">
                    <div class="groupinfo">
                       Η επεξεργασία πραγματοποιήθηκε επιτυχώς
								<br><br><br>			
					
				   </div>
            </div>
        </div>
					
		</div>	

</div>

{%endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Default:sidebar_agrotis.html.twig" %}
{%endblock %}
