<div class="votebox" id="vote-{{vote.id}}">
    <div class="votes">
        <select>
    </div>

    <div class="vote-comment">
        <textarea>
        </textarea>
    </div>
    <a href="/vote/{{vote.sell.id}}/" class="btn btn-large">
        Καταχώρηση
    </a>
</div>
