<form action="{{ path('sell_add') }}" {{ form_enctype(form) }} method="POST" class="sell_add">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Προσθήκη" />
    </div>
</form>
