{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block content %}
<div class="row">
    <div class="span9">
         
         <h1>  Συγχαρητήρια</h1>  </div>
</div>
<div class="row ">
<div class="span9 listing">
	<div class="row">
            <div class="span7">
                <div class="details">

Το προϊόν σας αποθηκεύτηκε επιτυχώς
<br><br>
</div></div></div></div></div>
{%endblock %}
{% block sidebar %}
<div class="row ">
    <div class="span3 sidebar">
        <ul class="extra-nav">
  <li><a href="pazari" >Αρχική</a></li>
            <li><a href="agorasmena">Τι έχω αγοράσει</a></li>
			<li><a href="poulimena">Τι έχω πουλήσει</a></li>
            <li><a href="price">Πόσο κοστίζει</a></li>
            <li><a href="logout">Αποσύνδεση</a></li>

        </ul>
    </div>
</div>
</div>{%endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Default:sidebar.html.twig" %}
{%endblock %}
