<div class="row">
    <div class="span3">
        <h2 class="side">Πληροφορίες</h2>
    </div>
</div>
<div class="row">
    <div class="span3 sidebar">
        <ul id="information" class="extra-nav">
            <li><a href='{{path("about")}}'>Ποιοι είμαστε</a></li>
            <li><a href='{{path("events")}}'>Εκδηλώσεις</a></li>
            <li><a href='{{path("price")}}'>Blog</a></li>
        </ul>
    </div>
</div>
