<div class="row ">
    <div class="span3 sidebar">
        <ul class="extra-nav">
            {% if is_granted("ROLE_USER") %}
            <li><a href='{{path("agorasmena")}}'>Τα Αγορασμένα μου</a></li>
            <li><a href='{{path("poulimena")}}'>Τα Πουλημένα μου</a></li>
            {% endif %}
            <li><a href='{{path("price")}}'>Τιμοκατάλογος</a></li>
        </ul>
    </div>
</div>
