<div class="row ">
    <div class="span3 sidebar">
        <ul class="extra-nav">
            <li><a href='{{path("agorasmena")}}'>Αρχική</a></li>
            <li><a href='{{path("poulimena")}}'>Διαχείριση Προϊόντων</a></li>
            <li><a href='{{path("price")}}'>Διαχείριση Συνάντησεων</a></li>
            <li><a href="/admin/users">Διαχείριση Χρηστών</a></li>
        </ul>
    </div>
</div>
