
{% extends "AcmeUserBundle:Default:base.html.twig" %}

{% block title %}
Διαχείριση
{% endblock %}

{% block content %}
<div class="row">
    <div class="span9">
        <h1> Διαχείριση</h1>
    </div>
</div>

<div class="row ">
    <div class="span9 listing">
        <div class="row">
		<div class="span9" >
	<p>Στη σελίδα αυτή όλοι οι εξουσιοδοτημένοι διαχειριστές του συστήματος μπορούν να διαχειριστούν:</p>
	<p>- Την αρχική σελίδα</p>
	<p>-Τα προϊόντα</p>
	<p>-Τις συναντήσεις</p>
	<p>-Τους εθελοντές και το πρόγραμμά τους</p>
	<p>-Τις εκδηλώσεις</p>
	<p>-Τις εταιρικές συναντήσεις</p>
	<p>-Τα μηνύματα</p>
	<p>-Τους χρήστες</p>
	 </div> </div> </div></div>	
{% endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Admin:sidebar.html.twig" %}
{%endblock %}
