
<div class="row ">
    <div class="span3 sidebar">
        <ul class="extra-nav">
            <li><a href='{{path("admin")}}'>Αρχική</a></li>
            <li><a href='{{path("adminproducts")}}'>Διαχείριση Προϊόντων</a></li>
            <li><a href='{{path("adminlocations")}}'>Διαχείριση Συνάντησεων</a></li>
            <li><a href="/admin/users">Διαχείριση Χρηστών</a></li>
        </ul>
    </div>
</div>
