{% extends "AcmeUserBundle:Default:base.html.twig" %}
{% block content %}
<div class="row">
    <div class="span9">
         
         <h1> Προσθήκη Εθελοντή</h1>  </div>
</div>
<div class="row ">
<div class="span9 listing">
	<div class="row">
            <div class="span7">
                <div class="details">

Η αίτησή σας καταχωρήθηκε επιτυχώς. Παρακολουθείτε το πρόγραμμα για να ενημερωθείτε.
<br><br>
</div></div></div></div></div>
{%endblock %}
{% block sidebar %}
{% include "AcmeUserBundle:Volunteer:sidebar_volunteer.html.twig" %}
{%endblock %}
